<div class="card-top container-fluid">
    <div class="container d-flex">
        <div class="item">
            
            <span class="material-icons">
                store
                </span>         
        </div>
        <div >
            <a>
                <span class="material-icons">
                    savings
                    </span>
            </a>
        </div>
        <div class="item">
            <a>
                <span class="material-icons">
                    payment
                    </span>
            </a>
          
        </div>
    </div>
</div>
<hr>
<div class="container-fluid ">
    <div class="row mr-2">
        <ng-container *ngFor="let item of productList">
            <mat-card class="example-card">
                <mat-card-header>
                <mat-card-title>{{item.title}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image  class="card-img"src={{item.image}} alt="Product">
            <mat-card-content>
                <p>{{item.description}}</p>
                <p><strong>Price:</strong> ${{item.price}}</p>
            </mat-card-content>
            <mat-card-actions>

                <button mat-raised-button color="accent"(click)="addtocart(item)" >Add to cart</button>
             </mat-card-actions>
</mat-card>
        </ng-container>

    </div>
</div>
