<h1>Welcome !</h1>

<br>
<br>
<button mat-raised-button color="primary" routerLink="/home">
    <mat-icon>home</mat-icon>
    <span>Home</span>
</button>

<button mat-raised-button color="warn" routerLink="/products">
    <span>Go shooping!</span>

