<mat-toolbar color="primary">
    <span>Shooping app</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="products" >Products</button>
    <button mat-button >Services</button>
    <button mat-button routerLink="cart" >Cart</button>
    <form class="example-form">

      <button mat-raised-button routerLink="cart">
        <mat-icon aria-hidden="false" aria-label="Example search icon" color="warn">favorite</mat-icon>

      </button>
      <button mat-raised-button color="primary"
      matBadge={{totalItem}} matBadgePosition="before" matBadgeColor="accent">
    
  </button>

    </form>
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>login</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
       <button mat-menu-item routerLink="/login">
        <mat-icon>login</mat-icon>
        <span>Login</span>
    </button>
    <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Log out</span>
    </button>
    <button mat-menu-item routerLink="/register">
        <mat-icon>person_add</mat-icon>
        <span>Register</span>
    </button>
    <button mat-menu-item routerLink="/forgot-password">
        <mat-icon>help_outline</mat-icon>
        <span>Forgot password</span>
    </button>
    <button mat-menu-item routerLink="/verify-email">
        <mat-icon>help_outline</mat-icon>
        <span>Resend email verification</span>
    </button>
      </mat-menu>
</mat-toolbar >
