<div class="container">

<h1>¿Did you forget your password?</h1>

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="retrievePassword()" type="">

        <p>A password-reset email will be sent to...</p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input autocomplete="off" formControlName="email" type="email" matInput placeholder="Email">
            </mat-form-field>
        </p>

        <div *ngIf="firebaseErrorMessage != ''" class="error-style">
            <span>{{ firebaseErrorMessage }}</span>
        </div>

        <button mat-raised-button color="primary" [disabled]="mailSent">Reset my password</button>
        <div *ngIf="mailSent">
            <p>An email has been sent!</p>
            <button mat-raised-button color="primary" routerLink="/home">
                <mat-icon>home</mat-icon>
                <span>Return Home</span>
            </button>
        </div>
    </form>
</div>

<div class="progressIndicator" [style.display]="isProgressVisible ? 'inline' : 'none' ">
    <mat-progress-spinner class=" example-margin" color="primary" mode="indeterminate"></mat-progress-spinner>
</div>
